<div class="relative w-1/3 <%= margin_class %>" data-controller="slider">
  <%= form.label label_symbol, label_text %>
  <div class="text-center mb-2">
    <span data-slider-target="output"><%= stress_value %></span>
  </div>

  <%= form.range_field label_symbol, min: StressRecord::STRESS_LEVEL_MIN, max: StressRecord::STRESS_LEVEL_MAX, value: stress_value, class: "range w-full", step: StressRecord::STRESS_LEVEL_STEP, data: { action: "input->slider#updateOutput", slider_target: "slider" } %>

  <div class="w-full flex justify-between px-2 mt-2" style="position: relative;">
    <span style="position: absolute; left: 0; transform: translateX(-50%); font-size: 0.7rem;">全くストレスを感じない</span>
    <span style="position: absolute; right: 0; transform: translateX(50%); font-size: 0.7rem;">極度のストレスを感じる</span>
  </div>
</div>
