<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t('stress_records.new.title') %></h1>

  <%= render "form", stress_record: @stress_record %>

  <%= link_to t('stress_records.new.back_to_stress_records'), stress_records_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 hover:bg-gray-200 inline-block font-medium" %>
</div>
