<div class="mx-auto md:w-2/3 w-full px-4">
  <h1 class="font-bold text-4xl mt-4"><%= t('stress_reliefs.new.title') %></h1>

  <%= render "form", stress_relief: @stress_relief %>

  <%= link_to t('stress_reliefs.new.back_to_stress_reliefs'), stress_reliefs_path, class: "ml-2 mb-4 rounded-lg py-3 px-5 bg-gray-300 hover:bg-gray-200 inline-block font-medium" %>
</div>
