<div class="navbar bg-base-100">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <%= link_to '利用規約', "#", class: 'btn btn-ghost' %>
    <%= link_to 'プライバシーポリシー', "#", class: 'btn btn-ghost' %>
  </div>
  <div class="navbar-end"></div>
</div>
