<div class="navbar bg-base-100">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <%= link_to t('layouts.footer.terms_of_service'), terms_of_service_path, class: 'btn btn-ghost btn-sm' %>
    <%= link_to t('layouts.footer.privacy_policy'), privacy_policy_path, class: 'btn btn-ghost btn-sm' %>
  </div>
  <div class="navbar-end"></div>
</div>
